<a href="/"><h1>All Tasks</h1></a>

<% @tasks.each do |task| %>
    <%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a>
    <a href="/tasks/<%= task.id %>/edit">edit</a><br>
<% end %>